
.DS_Store
.obsidian/app.json
.obsidian/appearance.json
.DS_Store
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/workspace.json
.obsidian/graph.json
Teoretické základy informačních technologií/.DS_Store
